<div class="flex-container">
    <mat-card class="job-card" color="primary">
        <mat-card-title-group>
            <!-- <mat-slide-toggle class="active-toggle" [(ngModel)]="job.status" matTooltip="While inactive, only you can see this job post.">Activate post</mat-slide-toggle>  -->
            <mat-card-title>
                Create a job:
            </mat-card-title>
            <mat-card-title>
                <mat-form-field >
                    <input matInput [(ngModel)]="job.title" required placeholder="Title" name="tit">
                </mat-form-field>  

            </mat-card-title>

            <mat-card-subtitle>
                <mat-form-field >
                    <input matInput [(ngModel)]="job.company" required type="text" placeholder="Company" name="comp">
                </mat-form-field>
            </mat-card-subtitle>

            <mat-card-subtitle>
                <mat-form-field>
                    <input matInput [(ngModel)]="job.salary" required type="text" placeholder="Salary (£)" name="sal">
                </mat-form-field>
            </mat-card-subtitle>

            <mat-card-subtitle>
                <mat-form-field>
                    <input matInput [(ngModel)]="job.location" required type="text" placeholder="Location" name="loc">
                </mat-form-field>
            </mat-card-subtitle>

        </mat-card-title-group>

        <mat-card-content > 
            <form class="example-container mat-subheading-1">
                <mat-form-field>
                    <textarea  matInput [(ngModel)]="job.description" type="text" placeholder="Description" name="desc"></textarea>
                </mat-form-field>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button (click)="createJob()" mat-raised-button color="primary">Save Job!</button>
                
                
        </mat-card-actions>
        
        
    </mat-card>

</div>