



.active-toggle {
  position: absolute;
  top: 5px;
  right: 10px;

}

.example-container {
    display: flex;
    flex-direction: column;

  }
  
.example-container > * {
  width: 100%;
}

.job-card {
  /* Remove position to change overlapping behavoir */
  position: relative;
  max-width: 600px;
  margin-bottom: 20px; 
  padding-bottom: 30px; 

}
.dashboard-card-content {
  text-align: center;
  z-index: inherit;
}

.mat-card-actions {
  text-align: center;
}