<mat-tab-group>
    
    <mat-tab label="My jobs">
        <div class="flex-container">
            <app-my-posts></app-my-posts>
            <app-applications></app-applications>
        </div>
        
    </mat-tab>
    <mat-tab label="Post">
        <div class="flex-container">
            <div class="mat-headline">Post a job:</div>
            <app-create-job></app-create-job>
        </div>
    </mat-tab>
    <mat-tab label="Profile">
        <app-profile></app-profile>
    </mat-tab>
</mat-tab-group>

