<div class="flex-container">

  <mat-card class="options-card">
    <button mat-button class="full-width"  
    (click)="searchExpand && keywords.length ? searchJobs():searchExpand = !searchExpand"
    color="primary">
    {{ searchExpand && keywords.length ? 'Go':'Search for jobs' }}</button>
    <mat-card-content [@openClose]="searchExpand ? 'open' : 'closed'">
      <mat-form-field class="full-width">
        <input name="keywords" [(ngModel)]="keywords" type="search" matInput placeholder="Keywords e.g. Construction">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content class ="last-child">
    </mat-card-content>
  </mat-card>

  <mat-card class="options-card">
    <button mat-button class="full-width"  
    (click)="filterLocation != null || filterSalary != null ||  filterCompany != null ? clearFilters():filtExpand = !filtExpand"
    color="{{ filterLocation != null || filterSalary != null ||  filterCompany != null ? 'warn': filtExpand ? 'accent':'primary'}}">
    {{ filterLocation != null || filterSalary != null ||  filterCompany != null ? 'Clear Filters': filtExpand ? 'Close filters':'Filter jobs' }}</button>

    <mat-card-actions [@openClose]="filtExpand ? 'open' : 'closed'">
      <mat-form-field class="partial-width">
        <mat-select [(ngModel)]="filterLocation" placeholder="City">
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="partial-width">
        <mat-select [(ngModel)]="filterCompany" placeholder="Company">
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="partial-width">
        <mat-select [(ngModel)]="filterSalary" placeholder="Salary">
          <mat-option *ngFor="let salary of salaries" [value]="salary.value">
            £{{salary.viewValue}}+
          </mat-option>
        </mat-select>
      </mat-form-field> 
    </mat-card-actions>
    <mat-card-content class ="last-child">
    </mat-card-content>
  </mat-card>

  <mat-card class="options-card">



    <button mat-button  class="full-width" 
    (click)="sortControl()"
    color="primary">
    {{ sortExpand ? 'Go':'Sort jobs'}}</button>

    <mat-card-actions [@openClose]="sortExpand ? 'open' : 'closed'">
      <mat-slide-toggle value="" [(ngModel)]="sortAscend">{{ sortAscend ? 'Ascending':'Descending'}}</mat-slide-toggle>
    </mat-card-actions>
    <mat-card-actions [@openClose]="sortExpand ? 'open' : 'closed'">
      

      <mat-button-toggle-group (click)="sortType = group.value" name="fontStyle" aria-label="Font Style" #group="matButtonToggleGroup">
        <mat-button-toggle value="date">Date</mat-button-toggle>
        <mat-button-toggle value="salary">Salary</mat-button-toggle>
      </mat-button-toggle-group>
      
    </mat-card-actions>
    <mat-card-content class ="last-child">
    </mat-card-content>
  </mat-card>
  
  <div class="mat-headline">Job search results</div>
  <div [@fadeInOut]="jobs?.length">

    
    <div  *ngFor="let job of jobs">
      <div  [@hideShow]="salaryFilter(job.salary) && locationFilter(job.location) && companyFilter(job.company) ? 'show' : 'hide'">
        <mat-card matRipple (click)="job.expand = !job.expand" class="dashboard-card" >
          <mat-card-header>
            <mat-card-title>
              <div class="mat-title title">{{job.title}}</div>
              <div class="mat-subheading-1">Salary: £{{job.salary}}</div>
              <div class="mat-subheading-1">Location: {{job.location}}</div>
              <div [@openClose]="job.expand == true ? 'open' : 'closed'" class="mat-subheading-1">Company: {{job.company}}</div>
              <p class="date">{{job.date | date:"dd/MM/yy" }}</p>
              <mat-icon (click)="job.expand = !job.expand" *ngIf="job.expand == true" class="material-icons icon">expand_less</mat-icon>
              <mat-icon (click)="job.expand = !job.expand" *ngIf="!job.expand == true" class="material-icons icon">expand_more</mat-icon>
            </mat-card-title>
          </mat-card-header>

          

          <mat-card-content class="dashboard-card-content">

            <div id="desc" [@openClose]="job.expand == true ? 'open' : 'closed'">{{ job.description}}</div>
          </mat-card-content>

          

          <mat-card-actions [@openClose]="job.expand == true ? 'open' : 'closed'">
            <div class="button-row">
              <button mat-flat-button color="primary" [routerLink]="['/apply', job._id]" >Apply now!</button>
            </div>
          </mat-card-actions>
          <mat-card-content class ="last-child">
          </mat-card-content>
        </mat-card>
        
      </div>
    </div>
  </div>
  <div class="mat-subheading-2"> Please try adding search parameters or removing filters</div>

  
</div>

