<div class="flex-container">
  <!-- Jobs location variable -->
  <div class="mat-headline">Posts:</div>
  <div *ngFor="let job of jobs">
    <mat-card class="dashboard-card" [class.mat-elevation-z2]="job.collapsed" [class.mat-elevation-z8]="!job.collapsed">
      <mat-card-header>
        
        <mat-card-title>
          <div class="mat-title title">{{job.title}}</div>
          <div class="mat-subheading-1"> {{job.company}} <br> {{job.location}} <br> {{job.salary}} <br> Job ID: {{job._id}}<br> Status: {{job.status}}<br> Owner: {{job.owner}}</div>

          <p class="more-button">Posted: {{job.date | date:'short' }}</p>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="dashboard-card-content">
        <div *ngIf="!job.collapsed">{{ job.description | slice:0:50 }} ...</div>
        <div *ngIf="job.collapsed">{{ job.description}}</div>
      </mat-card-content>
      
      <mat-card-actions>
          <div class="button-row">
            <button mat-flat-button (click)="openDialog()">Apply now!</button>
            <button mat-flat-button *ngIf="job.collapsed" (click)="job.collapsed = false">Less</button>
            <button mat-flat-button *ngIf="!job.collapsed" (click)="job.collapsed = true">More</button>
            <button mat-flat-button color="accent" [routerLink]="['/edit', job._id]">Edit</button>
            <button mat-flat-button color="accent" (click)="deleteJob(job._id)">Delete</button>
          </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>