<div class="flex-container">

  <div class="mat-headline">Job search results</div>
  
  <!-- Jobs location variable -->
  <div *ngFor="let job of jobs">
    <mat-card class="dashboard-card" [class.mat-elevation-z2]="job.collapsed" [class.mat-elevation-z8]="!job.collapsed">
      <mat-card-header>
        <mat-card-title>
          <div class="mat-title">{{job.title}}</div>
          <div class="mat-subheading-1"> {{job.company}} <br> {{job.location}} <br> {{job.salary}}</div>

          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Report</button>
            <button mat-menu-item>Save for later</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="dashboard-card-content">
        <div *ngIf="!job.collapsed">{{ job.description | slice:0:50 }} ...</div>
        <div *ngIf="job.collapsed">{{ job.description}}</div>
      </mat-card-content>
      
      <mat-card-actions>
          <div class="button-row">
            <button mat-flat-button (click)="openDialog()">Apply now!</button>
            <button mat-flat-button *ngIf="job.collapsed" (click)="job.collapsed = false">Less</button>
            <button mat-flat-button *ngIf="!job.collapsed" (click)="job.collapsed = true">More</button>
          </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

