
<div class="container">
  <!-- <p class="mat-heading-1">Filter your search:</p> -->

  <mat-form-field>
    <mat-select placeholder="Search distance">
      <mat-option *ngFor="let distance of distances" [value]="distance.value">
        Within {{distance.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="" value="Location">
  </mat-form-field>    



  <mat-form-field>
    <mat-select placeholder="Annual salary">
        <mat-option *ngFor="let salary of salaries" [value]="salary.value">
          £{{salary.viewValue}}+
        </mat-option>
      </mat-select>
  </mat-form-field>


  <mat-form-field>
    <input matInput [matDatepicker]="dp" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>

  <br>
  <button mat-flat-button>Update search</button>
</div>